<%= form_for(@audio) do |f| %>
  <div class = "input-container">
    <div class="field">
      <%= f.text_field :text, :placeholder => "Say something" %>
    </div>
    <%= button_tag(type: 'submit', class: "actions btn btn-primary") do %>
     <i class="glyphicon glyphicon-bullhorn"></i>
    <% end %>
  </div>
  <div class="checkbox">
    <% if @audio.id.present? # Only for the edit page %>
      <p><%= f.check_box :store, {checked: true, hidden: true} %></p>
    <% else # Shows on the new audio page %>
      <p><%= f.label 'Save?' %>
      <%= f.check_box :store, {checked: false} %></p>
    <% end %>
  </div>

  <% if @audio.errors.any? %>
    <div id="error_message">
      <% @audio.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>
<% end %>
