<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @audio.text %>
</p>

<%= link_to 'Download', @audio.url %> |
<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
